<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
{% if  logged%}
<script>
    setTimeout(()=>{
        window.location.href="/"
        document.getElementById("resultmsg").style += "color:green";
    },800)
</script>
{% endif %}
<body>
    <button id="LoginBtn" onclick="window.location.href='/login'" class="RightAlign Button">Login</button>
    <button id="SignupBtn" onclick="window.location.href='/signup'" class="RightAlign Button">Signup</button><br/><br/>
    <h1 id="appName" class="centerElem centerText" onclick="window.location.href='/'">595 Url Shortner</h1>
    <p id="title">
        To save your URLs permanently, log in to your account. 
        This allows you to edit the destination URL of any links you create after logging in,
         ensuring that your links always lead to the right place.</p>
        <div id="shortUrl">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <h3 id="resultmsg"class="centerText">{{messages[-1]}}</h3>
            {% endif %}
            {% endwith %}
        </div>
    <p id="bottomDesc" style="margin-top:200px">Create a permanent link that never expires or gets deleted, even for frequently changing URLs.
         With this feature, you can easily change the destination URL at any time, 
         ensuring that your links always lead to the right place</p>

</body>
</html>
